{% extends 'layout.html.twig' %}

{% block body %}
    {% include "header.html.twig" %}
    
    <html>
        <body>
            <h1>Salut Admin, vous etês bien connecté</h1>
        </body>
    </html>
    
    {% include "footer.html.twig" %}
{% endblock %}