<ul>
    <li><a href="{{ path('admin') }}">Admin</a></li>
    <li><a href="{{ path('app_default') }}">Appli</a></li>
    <li><a href="{{ path('lucky_number2') }}">Lucky Number</a></li>
    <li><a href="{{ path('blog',{'_lang':'fr','year':2020,'title':'azerty'})  }}">Blog</a></li>

</ul>